<% if @categories.length == 0 and !User.current.logged? %>
	<h2>Welcome to the Redmine Knowledgebase plugin</h2>
	
	<p>Unfortunately, there aren't any Categories defined, and you need to be logged in to create new categories.</p>
<% else %>

<div class="contextual">
	<% if @categories.length > 0 %>
	<label for="category_id"><strong>Jump to Category</strong></label>
	&nbsp;
	<%= select_tag :category_id, 
		options_for_select(nested_set_options(Category) {|i| "#{'»' * i.level} #{i.title}" }),
		:onchange => "if (this.value != \'\') { window.location = 'knowledgebase/categories/' + this.value; }"
	%>
	<% end %>
	<% if @categories.length > 0 and User.current.logged? %>&nbsp;|&nbsp;<% end %>
	<%= link_to_if_logged_in "New Category", 
		{ :controller => 'categories', :action => 'new' }, 
		:class => 'icon icon-add' %>
</div>

<% if Article.count > 0 %>

	<table id="article-summaries" width="100%" cellpadding="5">
	<thead>
	<tr>
		<th>Newest Articles</th>
		<th>Recently Updated Articles</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td width="50%"><%= render :partial => 'articles/list', :locals => { :summary_format => "newest", :articles => @articles_newest, :default_icon => 'recently-added' } %></td>
		<td width="50%"><%= render :partial => 'articles/list', :locals => { :summary_format => "updated", :articles => @articles_updated, :default_icon => 'recently-changed' } %></td>
	</tr>
	</tbody>
	</table>
	
	<table id="article-summaries" width="100%" cellpadding="5">
	<thead>
	<tr>
		<th>Most Popular Articles</th>
		<th>Top Rated Articles</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td width="50%"><%= render :partial => 'articles/list', :locals => { :summary_format => "popular", :articles => @articles_popular, :default_icon => 'popular' } %></td>
		<td width="50%"><%= render :partial => 'articles/list', :locals => { :summary_format => "toprated", :articles => @articles_toprated, :default_icon => 'top-rated' } %></td>
	</tr>
	</tbody>
	</table>

<% else %>

	<p>No articles have been added to the knowledgebase yet. Maybe you want to get the ball rolling ...</p>

<% end #if %>

<% content_for :sidebar do %>
	<h3>Browse by Category</h3>	
	<div id="categories_nav">
	<ul>
	<% Category.roots.each do |category| %>
		<li><%= link_to category.title + " (" + category.articles.length.to_s + ")", :controller => 'categories', :action => 'show', :id => category.id  %></li>
	<% end %>
	</ul>
	</div>
<% end %>

<% end #if %>

<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
<% end %>

