<div class="contextual">
	<label for="category_id"><strong>Jump to Category</strong></label>
	&nbsp;
	<%= select_tag :category_id, 
		options_for_select(nested_set_options(Category) {|i| "#{'»' * i.level} #{i.title}" }),
		:onchange => "if (this.value != \'\') { window.location = '/knowledgebase/categories/' + this.value; }"
	%>
	&nbsp;|&nbsp;
	<%= link_to_if_logged_in "New Category", 
		{ :controller => 'categories', :action => 'new' }, 
		:class => 'icon icon-add' %>
</div>

<table id="article-summaries" width="100%" cellpadding="5">
<thead>
<tr>
	<th>Newest Articles</th>
	<th>Recently Updated Articles</th>
</tr>
</thead>
<tbody>
<tr>
	<td width="50%"><%= render :partial => 'articles/list', :locals => { :articles => @articles_newest, :default_icon => 'recently-added' } %></td>
	<td width="50%"><%= render :partial => 'articles/list', :locals => { :articles => @articles_updated, :default_icon => 'recently-changed' } %></td>
</tr>
</tbody>
</table>

<% content_for :sidebar do %>
	<h3>Browse by Category</h3>	
	<div id="categories_nav">
	<ul>
	<% Category.roots.each do |category| %>
		<li><%= link_to category.title + " (" + category.articles.length.to_s + ")", :controller => 'categories', :action => 'show', :id => category.id  %></li>
	<% end %>
	</ul>
	</div>
<% end %>

<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
<% end %>
