<% html_title l(:knowledgebase_title) %>
	
<% if @categories.length == 0 and !User.current.logged? %>
	<h2><%= l(:knowledgebase_title) %></h2>
	<p>Unfortunately, there aren't any Categories defined, and you need to be logged in to create new categories.</p>
<% else %>
  <div class="contextual">
    <% if @categories.length > 0 %>
      <label for="category_id"><strong><%= l(:label_jump_category) %></strong></label>
      &nbsp;
      <%= select_tag :category_id, options_for_select([""] + nested_set_options(KbCategory) {|i| "#{'»' * i.level} #{i.title}" }), :onchange => "if (this.value != \'\') { window.location = 'knowledgebase/categories/' + this.value; }" %>
    <% end %>
    <%= link_to_if_authorized_globally l(:title_new_category), { :controller => 'categories', :action => 'new' }, :class => 'icon icon-add' %>
  </div>
  <h2><%= l(:knowledgebase_title) %></h2>
  <% if KbArticle.count > 0 %>
  	<div class="splitcontentleft">
  		<h3><%= l(:title_most_popular_articles) %></h3>
  		<div class="articles most-popular">
  			<%= render :partial => 'articles/list', :locals => { :summary_format => "popular", :articles => @articles_popular, :default_icon => 'popular' } %>
  		</div>
  		<h4><%= l(:title_recently_updated_articles) %></h4>
  		<div class="articles recently-updated">
  			<%= render :partial => 'articles/list', :locals => { :summary_format => "updated", :articles => @articles_updated, :default_icon => 'recently-changed', :truncate_length => 25 } %>
  		</div>
  	</div>
  	<div class="splitcontentright">
  		<div class="categories">
  			<h3><%= l(:title_browse_by_category) %></h3>
	    	<%= render :partial => "categories/tree" %>
	    </div>
	    <div id="taglist">
		     <% tag_cloud(@tags, ['tag-x-small', 'tag-small', 'tag-medium', 'tag-large', 'tag-x-large']) do |tag, css_class| %>
	       	<%= link_to(tag.name, {:controller => 'articles', :action => :tagged, :id => tag.name }, :class => "tag #{css_class}") %>
	     	<% end %>
	    </div>
  	</div>
  <% else %>
    <p class="nodata"><%= t :message_no_articles %></p>
  <% end %>
<% end %>

<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
<% end %>
