<div class="contextual">
	<%= link_to "New Category", { :controller => 'categories', :action => 'new' }, :class => 'icon icon-add' %>    
</div>

<h2>Knowledgebase</h2>

<table width="100%" cellpadding="5">
<thead>
<tr>
	<th>Newest Articles</th>
	<th>Most Popular Articles</th>
</tr>
</thead>
<tbody>
<tr>
	<td><%= render :partial => 'articles/list', :locals => { :articles => @articles_newest, :default_icon => 'recently-added' } %></td>
	<td><%= render :partial => 'articles/list', :locals => { :articles => @articles_newest, :default_icon => 'popular' } %></td>
</tr>
</tbody>
</table>
<br />
<table width="100%" cellpadding="5">
<thead>
<tr>	
	<th>Recently Updated Articles</th>
	<th>Top Rated Articles</th>	
</tr>
</thead>
<tbody>
<tr>
	<td><%= render :partial => 'articles/list', :locals => { :articles => @articles_newest, :default_icon => 'recently-changed' } %></td>
	<td><%= render :partial => 'articles/list', :locals => { :articles => @articles_newest, :default_icon => 'top-rated' } %></td>	
</tr>
</tbody>
</table>
<% content_for :sidebar do %>
	<h3>Browse by Category</h3>	
	<div id="admin-menu">
	<ul>
	<% @categories.each do |category| %>
		<li><%= link_to category.title + " (" + category.articles.length.to_s + ")", :controller => 'categories', :action => 'show', :id => category.id  %></li>
	<% end %>
	</ul>
	</div>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
<% end %>
