<%= error_messages_for 'article' %>
<div class="box tabular">
<p>
<label for="category_id"><%= l(:label_category) %></label>
<%= select_tag :category_id, options_for_select(nested_set_options(KbCategory) {|i| "#{'»' * i.level} #{i.title}" }, @article.category_id) %><br />
</p>
<p><%= f.text_field :title, :size => 60, :label => l(:label_title) %></p>
<p><%= f.text_area :summary, :cols => 60, :rows => 5, :label => l(:label_summary) %></p>
<p><%= f.text_area :content, :cols => 60, :rows => 15, :class => 'wiki-edit', :label => l(:label_content) %></p>
<p><%= f.text_field :tag_list, :size => 80 %></p>
</div>
<div class="box">
<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
</div>

<%= wikitoolbar_for 'article_content' %>