<%= error_messages_for 'article' %>
<div class="box tabular">
<p>
<label for="category_id">Category</label>
<%= select_tag :category_id, options_for_select(nested_set_options(Category) {|i| "#{'-' * i.level} #{i.title}" }, @article.category_id) %><br />
</p>
<p><%= f.text_field :title %></p>
<p><%= f.text_area :summary, :rows => 6 %></p>
<p><%= f.text_area :content %></p>
</div>