<% content_for :sidebar do %>
	<ul id="article-options">
		<li><%= link_to_if_logged_in "Edit", { :controller => 'articles', :action => 'edit', :id => @article.id }, :class => 'icon icon-edit' %></li>
		<li><%= link_to_if_logged_in "Delete", { :controller => 'articles', :action => 'destroy', :id => @article.id }, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %></li>
	</ul>
	<br />
	<%= render :partial => "rating", :locals => {:article => @article } %>
<% end %>

<div id="category-crumbs">
	<%= link_to "Home", { :controller => 'knowledgebase', :action => 'index' } %>
	<% @article.category.ancestors.each do |ancestor| %>
	&nbsp;&raquo;&nbsp; 
	<%= link_to ancestor.title, { :controller => 'categories', :action => 'show', :id => ancestor.id } %>
	<% end %>
	&nbsp;&raquo;&nbsp; 
	<%= link_to @article.category.title, { :controller => 'categories', :action => 'show', :id => @article.category.id } %>
</div>

<div id="article">
	<div class="title"><%= @article.title %></div>
	<div class="info">
	<%= authoring @article.created_at, @article.author %>
	<% if @article.created_at != @article.updated_at %>
	| <%= l(:label_updated_time, time_tag(@article.updated_at)) %>.
	<% end %>
	| Viewed <%= @article.view_count %> time<% if @article.view_count > 1%>(s)<% end  %>
	<% unless @article.tag_list.empty? %>	
	<br />
	 <% @article.tag_list.each do |tag| %>
	   <tt><%= link_to tag, { :action => "tagged", :id => tag } %></tt>
	 <% end %>
	<% end %>
	</div>
</div>

<div class="wiki"><%= textilizable @article, :content, :attachments => @article.attachments %></div>

<% unless @article.attachments.empty? %>
<div id="section-title" class="attachments">Attachments</div>
<%= render :partial => 'attachments/links', :locals => {:attachments => @article.attachments, :options => { :deletable => User.current.logged? } } %>
<br />
<% end %>

<div id="comments" style="margin-bottom:16px;">
<div id="section-title" class="comments"><%= l(:label_comment_plural) %></div>
<% @comments.each do |comment| %>
    <% next if comment.new_record? %>
    <div class="contextual">
    <%= link_to_if_logged_in image_tag('delete.png'), {:controller => 'articles', :action => 'destroy_comment', :id => @article, :comment_id => comment},
                                                       :confirm => l(:text_are_you_sure), :method => :post, :title => l(:button_delete) %>
    </div>
    <h4><%= avatar(comment.author, :size => "24") %><%= authoring comment.created_on, comment.author %></h4>
    <%= textilizable(comment.comments) %>
<% end if @comments.any? %>
</div>
<p><%= toggle_link l(:label_comment_add), "add_comment_form", :focus => "comment_comments" %></p>
<% form_tag({:action => 'add_comment', :id => @article}, :id => "add_comment_form", :style => "display:none;") do %>
<div class="box">
    <%= text_area 'comment', 'comments', :cols => 80, :rows => 15, :class => 'wiki-edit' %>
    <%= wikitoolbar_for 'comment_comments' %>
</div>
<p><%= submit_tag l(:button_add) %></p>
<% end %>
<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
	<%= stylesheet_link_tag 'scm' %>
<% end %>