<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
	<%= stylesheet_link_tag 'scm' %>
<% end %>

<% content_for :sidebar do %>	
	<ul id="article-options">
		<li><%= link_to_if_logged_in "Edit", { :controller => 'articles', :action => 'edit', :id => @article.id }, :class => 'icon icon-edit' %></li>
		<li><%= link_to_if_logged_in "Delete", { :controller => 'articles', :action => 'destroy', :id => @article.id }, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %></li>
		<li><%= link_to "Print Article", '#', :class => "icon print" %></li>
		<li><%= link_to "Bookmark Article", '#', :class => "icon bookmark" %></li>
		<li><%= link_to "Export to PDF", '#', :class => "icon pdf" %></li>
		<li><%= link_to "Export to Word", '#', :class => "icon word" %></li>
	</ul>	
<% end %>

<div id="category-crumbs">
	<%= link_to "Home", { :controller => 'knowledgebase', :action => 'index' } %>
	<% @article.category.ancestors.each do |ancestor| %>
	&nbsp;&raquo;&nbsp; 
	<%= link_to ancestor.title, { :controller => 'categories', :action => 'show', :id => ancestor.id } %>
	<% end %>
	&nbsp;&raquo;&nbsp; 
	<%= link_to @article.category.title, { :controller => 'categories', :action => 'show', :id => @article.category.id } %>
</div>

<div id="article">
	<div class="title"><%= @article.title %></div>
	<p class="info">
	<%= authoring @article.created_at, @article.author %>
	<% if @article.created_at != @article.updated_at %>
	| <%= l(:label_updated_time, time_tag(@article.updated_at)) %>.
	<% end %>
	| Viewed <%= @article.view_count %> time<% if @article.view_count > 1%>(s)<% end %>
    </p>
</div>
<div class="wiki"><%= textilizable(@article, :content) %></div>