<%= heads_for_wiki_formatter %>

<% content_for :sidebar do %>	
	<ul id="article-options">
		<li><%= link_to "Print Article", '#', :class => "icon print" %></li>
		<li><%= link_to "Export to PDF", '#', :class => "icon pdf" %></li>
		<li><%= link_to "Export to Word", '#', :class => "icon word" %></li>
	</ul>	
<% end %>

<div class="contextual">
	<%= link_to "Edit", { :controller => 'articles', :action => 'edit', :id => @article.id }, :class => 'icon icon-edit' %>    
	<%= link_to "Delete", { :controller => 'articles', :action => 'destroy', :id => @article.id }, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
</div>

<h2><%= @article.title %></h2>
<div id="article">
	<div class="article-info">Article Number: <%= @article.id %> | Rating: x / x | Last Updated: <%= time_ago_in_words(@article.updated_at) %> ago</div>
	<br />
	<%= textilizable @article.content %>	
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
<% end %>
