<% content_for :header_tags do %>
  <%= javascript_include_tag 'facebox', :plugin => 'redmine_knowledgebase' %>
  <%= stylesheet_link_tag 'facebox', :plugin => 'redmine_knowledgebase' %>
  <%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
  <%= stylesheet_link_tag 'scm' %>  
<% end %>

<% content_for :sidebar do %>
	<h3><%= l(:title_edit_article) %></h3>
	<ul id="options">
		<li><%= link_to_if_authorized_globally l(:label_edit_article), { :controller => 'articles', :action => 'edit', :id => @article.id }, :class => 'icon icon-edit' %></li>
		<li><%= link_to_if_authorized_globally l(:label_delete_article), { :controller => 'articles', :action => 'destroy', :id => @article.id }, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %></li>
		<li><%= link_to_remote_if_authorized_globally l(:label_new_comment), :url => { :controller => "articles", :action => "comment", :article_id => @article.id }, :html => { :class => "icon icon-comment" } %></li>
	</ul>
	<br />
	<%= render :partial => "rating", :locals => {:article => @article } %>	
	<% unless @article.tag_list.empty? %> 
	<br /><br /><br />
	<div class="rating-title"><%= l(:title_tags) %></div>
	<ul id="taglist">
	  <% @article.tag_list.each do |tag| %>
     <li><%= link_to tag, { :action => "tagged", :id => tag }, :class => "tag" %></li>
    <% end %>
	</ul>
  <% end %>
<% end %>

<p id="category-crumbs" class="breadcrumb">
	<%= link_to l(:label_kb_home), { :controller => 'knowledgebase', :action => 'index' } %>
	<% @article.category.ancestors.each do |ancestor| %>
	&nbsp;&raquo;&nbsp; 
	<%= link_to ancestor.title, { :controller => 'categories', :action => 'show', :id => ancestor.id } %>
	<% end %>
	&nbsp;&raquo;&nbsp; 
	<%= link_to @article.category.title, { :controller => 'categories', :action => 'show', :id => @article.category.id } %>
</p>
<% html_title @article.title %>

<h2><%= @article.title %></h2>

<div class="infobox">
<%= authoring @article.created_at, @article.author %>
<% if @article.created_at != @article.updated_at %>
| <%= l(:label_updated_time, time_tag(@article.updated_at)) %>.
<% end %>
| <%= l(:label_article_viewed, :count => @article.view_count) %>
</div>

<div id="article">
  <div class="wiki"><%= textilizable @article, :content, :attachments => @article.attachments %></div>
</div>

<% unless @article.attachments.empty? %>
<div id="section-title" class="attachments infobox"><%= l(:label_attachment_plural) %></div>
<%= render :partial => 'attachments/links', :locals => {:attachments => @article.attachments, :options => { :deletable => User.current.logged? } } %>
<br />
<% end %>

<% unless @comments.empty? %>
<div id="comments" style="margin-bottom:16px;">
<div id="section-title" class="comments infobox"><%= l(:label_comment_plural) %></div>
<% @comments.each do |comment| %>
  <h4>
    <%= avatar(comment.author, :size => "24") %>
    &nbsp;<%= authoring comment.created_on, comment.author %>&nbsp; 
    <%= link_to_if_authorized_globally image_tag('delete.png'), 
         { :controller => 'articles', :action => 'destroy_comment', :id => @article, :comment_id => comment },
         :confirm => l(:text_are_you_sure), 
         :method => :post, :title => l(:button_delete) %>
  </h4>
  <%= textilizable(comment.comments) %>
<% end %>
</div>
<% end %>
