<% defaults = Redmine::Plugin::registered_plugins[:redmine_knowledgebase].settings[:default] %>

<p>
  <label><%= l(:allow_sort_category_tree) %></label>
  <%= hidden_field_tag 'settings[knowledgebase_sort_category_tree]', 0 %>
  <%= check_box_tag 'settings[knowledgebase_sort_category_tree]', 1, @settings['knowledgebase_sort_category_tree'].to_i == 1 %>
</p>

<p>
  <label><%= l(:show_category_totals) %></label>
  <%= hidden_field_tag 'settings[knowledgebase_show_category_totals]', 0 %>
  <%= check_box_tag 'settings[knowledgebase_show_category_totals]', 1, @settings['knowledgebase_show_category_totals'].to_i == 1 %>
</p>

<p>
  <label><%= l(:summary_item_limit) %>:</label>
  <%= text_field_tag("settings[knowledgebase_summary_limit]", @settings["knowledgebase_summary_limit"] || defaults["knowledgebase_summary_limit"]) %>
</p>

