<% html_title 'Index' %>

<% content_for :sidebar do %>

	<ul id="options">
		<li><%= link_to_if_authorized l(:label_new_article), { :controller => 'articles', :action => 'new', :project_id => @project}, :class => 'icon icon-add' %></li>
	</ul>

	<h3><%= l(:title_browse_by_category) %></h3>
  <%= render :partial => "categories/tree" %>

  <% if @tags %>
  <% @tag ? currentTags = @tag + ',' : currentTags = '' %>
  <div id="taglist">
    <h3><%= l(:label_filter_by_tag) %></h3>

    <% tag_cloud(@tags, ['tag-x-small', 'tag-small', 'tag-medium', 'tag-large', 'tag-x-large']) do |tag, css_class| %>

    <% if @tag && @tag_hash[tag.name] %>
      <a  class="tag <%= css_class %> selected-tag"><%= tag.name %></a> 
    <% else %>
      <%= link_to( tag.name, {:controller => 'categories', :action => 'index', :project_id => @project, :tag => currentTags + tag.name }, :class => "tag #{css_class}") %>
    <% end %>
    <% end %>
  </div>
  <% end %>

<% end %>


<% if @tag %>
  <div class="category-tag-filter"><p><%= l(:label_filtered_by_tag) %>
      <% n = 0 %>
      <% @tag_array.each do |tag| %><%= n >= 1 ? ', ' : '' %><%= tag %><% n += 1 %><% end %>
      <%= link_to("", {:controller => 'categories', :action => 'index', :project_id => @project }, :class => "icon icon-del") %>
</p></div>
<% end %>

<% if @articles.length > 0%>
  <div class="articles category-articles">
    <% if redmine_knowledgebase_settings_value(:show_tiled_article_lists) %>
      <%= render :partial => 'articles/list_tiled', :locals => { :articles => @articles } %>
    <% else %>
      <%= render :partial => 'articles/list_table', :locals => { :articles => @articles } %>
    <% end %>
  </div>
<% end %>


<span class="pagination"><%= pagination_links_full @article_pages, @article_count %></span>


<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => { :key => User.current.rss_key } %>
<% end %>

