<div class="contextual">
	<%= link_to_if_logged_in "Create Article", 
			{ :controller => 'articles', :action => 'new', :category_id => @category.id }, 
			:class => 'icon icon-add' %>
	<%= link_to_if_logged_in "Edit Category", 
			{ :controller => 'categories', :action => 'edit', :id => @category.id }, 
			:class => 'icon icon-edit' %>    
</div>
<h2><%= @category.title %></h2>
<p><em><%= @category.description unless @category.description.nil? %></em></p>

<%= render :partial => 'articles/list', :locals => { :articles => @articles, :default_icon => 'normal' } %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
<% end %>