<div id="category-crumbs">
	<%= link_to "Home", { :controller => 'knowledgebase', :action => 'index' } %>
	<% @category.ancestors.each do |ancestor| %>
	&nbsp;&raquo;&nbsp; 
	<%= link_to ancestor.title, { :controller => 'categories', :action => 'show', :id => ancestor.id } %>
	<% end %>
</div>

<div class="contextual">
	<%= link_to_if_logged_in "Create Article", 
			{ :controller => 'articles', :action => 'new', :category_id => @category.id }, 
			:class => 'icon icon-add' %>
	&nbsp;|&nbsp;
	<%= link_to_if_logged_in "New Category", 
		{ :controller => 'categories', :action => 'new' }, 
		:class => 'icon icon-add' %>    
	&nbsp;|&nbsp;
	<%= link_to_if_logged_in "Edit Category", 
			{ :controller => 'categories', :action => 'edit', :id => @category.id }, 
			:class => 'icon icon-edit' %>    
</div>
<h2><%= @category.title %></h2>
<p><div class="wiki"><%= textilizable @category.description unless @category.description.nil? %></div></p>

<%= render :partial => 'articles/list', :locals => { :articles => @articles, :default_icon => 'normal' } %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
<% end %>