<% html_title @category.title %>

<p id="category-crumbs" class="breadcrumb">
	<%= link_to l(:label_kb_home), { :controller => 'knowledgebase', :action => 'index' } %>
	<% @category.ancestors.each do |ancestor| %>
	&nbsp;&raquo;&nbsp;
	<%= link_to ancestor.title, { :controller => 'categories', :action => 'show', :id => ancestor.id } %>
	<% end %>
</p>
<h2><%= @category.title %></h2>

<% content_for :sidebar do %>
	<h3><%= l(:title_edit_category) %></h3>
	<ul id="options">
		<li><%= link_to_if_authorized_globally l(:label_new_article), { :controller => 'articles', :action => 'new', :category_id => @category.id }, :class => 'icon icon-add' %></li>
    <li><%= link_to_if_authorized_globally l(:label_new_category), { :controller => 'categories', :action => 'new', :parent_id => @category.id }, :class => 'icon icon-add' %></li>
    <li><%= link_to_if_authorized_globally l(:label_edit_category), { :controller => 'categories', :action => 'edit', :id => @category.id }, :class => 'icon icon-edit' %></li>
    <li><%= link_to_if_authorized_globally l(:label_delete_category), { :controller => 'categories', :action => 'destroy', :id => @category.id }, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %></li>
	</ul>
	<h3><%= l(:title_browse_by_category) %></h3>
  <%= render :partial => "categories/tree" %>
<% end %>

<div class="wiki"><%= textilizable @category.description unless @category.description.nil? %></div>

<% @kids = @category.children %>
<% if @kids.length > 0 %>
  <div class="categories">
    <div class="category-header"><%= l(:label_subcategories) %></div>
    <br />
    <% @kids.each do |subs| %>
      <%= link_to subs.title + " (" + subs.articles.length.to_s + ")", { :controller => 'categories', :action => 'show', :id => subs.id }, :class => 'category-title' %>
    <% end %>
  </div>
<% end %>
<% if @articles.length > 0%>
  <h3><%= l(:label_article_plural) %></h3>
  <div class="articles category-articles">
  <%= render :partial => 'articles/list', :locals => { :summary_format => "normal", :articles => @articles, :default_icon => 'normal', :truncate_length => 40 } %>
  </div>
<% end %>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
<% end %>
