<h1><%= l(:label_new_article) %>: <%= link_to(h(@article.title), @article_url) %></h1>
<br />
<b><%= l(:label_summary) %>:</b> <%=h @article.summary %>
<br />
<ul>
<li><b><%=l(:field_version_comments)%>:</b> <%=h @article.version_comments %></li>
<li><b><%=l(:field_article_author)%>:</b> <%=h @article.author %></li>
<li><b><%=l(:label_category)%>:</b> <%=h @article.category.title %></li>
</ul>
